html, body {
  margin:0;
  padding:0;
  height:100%;
  background-color:#017821;
  font-family: 'Poppins', sans-serif;
  color: #222423;
}

a:link, a:hover, a:active {
  text-decoration:none;
}

img {
  text-decoration: none; 
  border: 0px
}

.section {
  width:100%;
}

.container {
  min-height:100%;
  padding:0;
  position:relative;
}

.header-bar {
  height:50px;
  text-align:left;
  background-color: #017821;
}

.header-logo {
  float: left;
  height: 40px;
  margin: 15px;
}

.header-content img{
  float:left;
  height: 40px;
  margin: 15px;
}

.header-content h2 {
  float: left;
  color: white;
  line-height: 50px;
  padding: 5px 10px;
}

.header-content menu {
  padding: 0;
  margin: 0;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.header-content li {
  list-style-type: none;
  padding: 0;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.header-content li a {
  color: white;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
}

.header-menu {
  float: right;
}

.centered-content {
  width:900px;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  vertical-align:middle;
}

.centered-content p {
  padding:0px;
  margin:0px;
}

.centered-content h2 {
  margin: 0;
  padding-top: 10px;
}

.title-section {
  height: 200px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.title-section h1 {
  text-align: center;
  vertical-align: middle;
  line-height: 200px; 
  width: 70%;
}

.about-section {
  min-height:200px;
  background-color: #f16464;
}

.about-section img {
  height: 400px;
}

.routines-section {
  height:200px;
  background-color: #f1e88e;
}

.get-the-app-section {
  height:200px;
  background-color: #387d4d;
}

.contact-us-section {
  height:200px;
  background-color: #5d56ad;
  color: white;
}

.footer-bar {
  height:50px;
  background-color: #086714;
}

.footer-text {
  text-align:center;
  line-height:50px;
  font-size:12px;
  color:#aeb1b3;
}

.animated{
  display: inline;
  text-indent: 8px;
}

.animated span{
  animation: topToBottom 10s linear infinite 0s;
  -ms-animation: topToBottom 10s linear infinite 0s;
  -webkit-animation: topToBottom 10s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.animated span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.animated span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.animated span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

@keyframes topToBottom{
  0% { opacity: 0; }
  8% { opacity: 0; -webkit-transform: translateY(-50px); }
  15% { opacity: 1; -webkit-transform: translateY(0px); }
  28% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.yellow {
  color: #dccb32;
}

.green {
  color: #148f24;
}

.pink {
  color: #f573ce;
}

.blue {
  color: #1737de;
}

.brown {
  color: #6c411b;
}